<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="stylesheets/index.css">
</head>

<body>
  <div class="container">
    <nav class="header">
      <button class="nav-btn homepage-btn">回到首頁</button>
      <div class="nav-area">
        <button class="nav-btn about-btn">About</button>
        <button class="nav-btn portfolio-btn">Portfolio</button>
        <button class="nav-btn contact-btn">Contact</button>
      </div>
    </nav>
    {{{ body }}}
  </div>

  <script src="javascripts/index.js"></script>
</body>

</html>